<head>
</head>

<script>
    //Function ensure no fields are left empty in form when submitted
    $(document).ready(function() {

        $('#submit_button').click(function() {
         // Grab all values stored in form on click
            var user = $('#formGroupUser').val();
            var email = $('#formGroupEmail').val();
            var message = $('#formGroupMessage').val();
            // Check that user field is not empty
            if (user.length < 1) {
                alert("Username field empty");
                return false;
            }
            // Check that email field is not empty
            if (email.length < 1) {
                alert("Email field empty");
                return false;
            }
            // Check that message field is not empty
            if (message.length < 1) {
                alert("Message field empty");
                return false;
            }
        });
    })
</script>

<h1><%=t('contact.page_title') %></h1>

<br>
        
<form id="contact_form" accept-charset="UTF-8" method="post">
        <div class = "form-group">
            <label for = "formGroupUser"><%=t('contact.form.username') %></label>
            <input name = "name" value = "<%= @name %>" type = "text" class = "form-control" id = "formGroupUser" placeholder = "<%=t('contact.form.username_placeholder') %>">
        </div>
        <div class = "form-group">
            <label for = "formGroupEmail"><%=t('contact.form.email') %></label>
            <input name = "email" value = "<%= @email %>" type = "email" class = "form-control" id = "formGroupEmail" placeholder = "<%=t('contact.form.email_placeholder') %>">
        </div>
        <div class = "form-group">
            <label for = "formGroupMessage"><%=t('contact.form.message') %></label>
            <textarea name = "message" value = "<%= @message %>" class = "form-control" id = "formGroupMessage"></textarea>
        </div>
    <input type="submit" class = "btn btn-primary" id="submit_button">
</form>
