<!DOCTYPE html>
<html>
    <head>
    <%= javascript_include_tag('orders') %>
    </head>

    <body>
        <h1><%=t('orders.page_title') %></h1>

        <table class = "table">
            <thead class = "thead-light">
                <tr>
                    <th><%=t('orders.order_table.order_num')%></th>
                    <th><%=t('orders.order_table.first_name')%></th>
                    <th><%=t('orders.order_table.second_name')%></th>
                    <th><%=t('orders.order_table.status')%></th>
                    <th><%=t('orders.order_table.date')%></th>
                    <th><%=t('orders.order_table.message')%></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><%=t('orders.order_table_content.order_num')%></th>
                    <td><%=t('orders.order_table_content.first_name')%></td>
                    <td><%=t('orders.order_table_content.second_name')%></td>
                    <td><%=t('orders.order_table_content.status')%></td>
                    <td><%=t('orders.order_table_content.date')%></td>
                    <td><%=t('orders.order_table_content.message')%></td>
                    <td><button type = "button" class = "btn btn-link" id = "test">GO TO</button></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
