<!DOCTYPE html>
<html>
    <head>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
    </head>

    <body>
        <h1><%=t('overview.page_title') %></h1>
        <p><%=t('overview.data.new_orders') %></p>
        <p><%=t('overview.data.resolved_orders') %></p>
        
    <%= yield %>
    </body>

</html>

