<!DOCTYPE html>
<html>
    <head>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
    </head>

    <body>
        <h1><%=t('overview.page_title') %></h1>

        <% @ordersCount.each do |key, value| %>
            <p><%= key + " orders " + " - " + value.to_s %><p>
        <% end %>
    <%= yield %>
    </body>

</html>

