<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
    <br>
    <br>
        <table class = "table">
            <thead class = "thead-light">
                <tr>
                    <th><%=t('order_details_labels.order_num')%></th>
                    <th><%=t('order_details_labels.first_name')%></th>
                    <th><%=t('order_details_labels.last_name')%></th>
                    <th><%=t('order_details_labels.status')%></th>
                    <th><%=t('order_details_labels.date')%></th>
                    <th><%=t('order_details_labels.message')%></th>
                    <th><%=t('order_details_labels.email')%></th>
                    <th><%=t('order_details_labels.contact_number')%></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= @specificOrder.id %></td>
                    <td><%= @specificOrder.customer.firstName %></td>
                    <td><%= @specificOrder.customer.lastName %></td>
                    <td><%= @specificOrder.status %></td>
                    <td><%= @specificOrder.created_at %></td>
                    <td><%= @specificOrder.message %></td>
                    <td><%= @specificOrder.customer.email %></td>
                    <td><%= @specificOrder.customer.contactNumber %></td>
                    
                </tr>
            </tbody>
        </table>

    <br>
    <p><strong><%=t('order_details_labels.order_details')%></strong></p>
    <p><%= @specificOrder.item.name %></p>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div>
        <%= button_to 'Picked', params: {:id => @specificOrder.id, :status => 'Picked'}, method: :post%>
    </div>

    <div>
        <%= button_to 'Collected', params: {:id => @specificOrder.id, :status => 'Collected'}, method: :post%>
    </div>

    <div>
        <%= button_to 'Cancel Order', params: {:id => @specificOrder.id, :status => 'Cancelled'}, method: :post%>
    </div>

    </body>
</html>