<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
    #CHANGE THIS TO ERR IN LOCALES AFTER SETTING UP DB
    <h1 id = "order_number"></h1>
    <p><%=t('order_details.first_name')%></p>
    <p><%=t('order_details.last_name')%></p>
    <p><%=t('order_details.status')%></p>
    <p><%=t('order_details.date')%></p>
    <p><%=t('order_details.message')%></p>
    <p><%=t('order_details.email')%></p>
    <p><%=t('order_details.contact_number')%></p>
    <p><%=t('order_details.order_details')%></p>
    <br>
    <br>
    <button id="picked_button" type="button" class="btn btn-primary btn-lg btn-block"><b><%=t('vieworder.actions.picked_button')%></b></button>
    <button id="collected_button" type="button" class="btn btn-primary btn-lg btn-block"><b><%=t('vieworder.actions.collected_button')%></b></button>

    </body>
</html>