<!DOCTYPE html>
<html>
  <head>
    <title>Click And Collect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class = "navbar-body">
    <ul class = "nav  nav-pills nav-justified">
      <li class = "nav-home">
        <a class = "nav-link" href="overview">Overview</a>
      </li>
      <li class = "nav-current-orders">
        <a class = "nav-link" href="currentorders">Current Orders</a>
      </li>
      <li class = "nav-resolved-orders">
        <a class = "nav-link" href="resolvedorders">Resolved Orders</a>
      </li>
      <li class = "nav-contact">
        <a class = "nav-link" href="contact">Contact</a>
      </li>
    </ul>
  </div>
    <%= yield %>
  </body>
</html>
