<!DOCTYPE html>
<html>
  <head>
    <title><%=t('app_title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  </head>

  <body>
  <%= link_to 'db' , orders_path %>
  <div class = "navbar-body">
    <ul class = "nav  nav-pills nav-justified">
      <li class = "nav-overview">
        <a class = "nav-link" href="overview"><%=t('navbar.overview') %></a>
      </li>
      <li class = "nav-orders">
        <a class = "nav-link" href="orders" ><%=t('navbar.orders') %></a>
      </li>
      <li class = "nav-contact">
        <a class = "nav-link" href="contact"><%=t('navbar.contact') %></a>
      </li>
    </ul>
  </div>
    <%= yield %>
  </body>
</html>
