
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

  <h1><%=t('email_format.email_heading') %></h1>
  <p><%=t('email_format.from_user') %> <%= @name %></p>
  <p><%=t('email_format.from_email') %> <%= @email %></p>
  <br>
  <p><%=t('email_format.message_tag') %></p>
  <p><%= @message %></p>
  
